@using OptionA.Blog.Components.Core.Enums;
@if (Content is not null)
{
    @switch (Content.BlockType)
    {
        case BlockType.Block:
            <div class="@Content.GetClasses()" @attributes=Content.Attributes>
                <BlockContents Content="Content" />
            </div>
            break;
        case BlockType.Inline:
            <span class="@Content.GetClasses()" @attributes=Content.Attributes>
                <BlockContents Content="Content" />
            </span>
            break;
        case BlockType.Paragraph:
            <p class="@Content.GetClasses()" @attributes=Content.Attributes>
                <BlockContents Content="Content" />
            </p>
            break;
        case BlockType.Content:
            <BlockContents Content="Content" />
            break;
    }
}