.oa-code-keyword {
    color: var(--oa-code-keyword);
}

.oa-code-controlkeyword {
    color: var(--oa-code-controlkeyword);
}

.oa-code-string {
    color: var(--oa-code-string);
}

.oa-code-method {
    color: var(--oa-code-method);  
}

.oa-code-comment {
    color: var(--oa-code-comment);    
}

.oa-code-attribute {
    color: var(--oa-code-attribute);
}

.oa-code-component {
    color: var(--oa-code-component);
    font-weight: var(--oa-fontweight-bold);
}

.oa-code-directive {
    color: var(--oa-code-directive);
}

.oa-code-tagdelimiter {
    color: var(--oa-code-tagdelimiter);
}

.oa-code-block {
    background-color: var(--oa-code-background);
    color: var(--oa-code-color);
    overflow-x: auto;
    white-space: pre;
    font-family: 'Cascadia Code','Cascadia Mono',Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace !important;
    text-align: left;
}

.oa-code-header-block {
    background-color: var(--oa-code-headerbackground);
    position: sticky;
    left: var(--oa-code-header-left);
}

.oa-code-selected {
    background-color: var(--oa-code-selected);
}

.oa-color-link {
    color: var(--oa-link);
}

.oa-color-link:link {
    color: var(--oa-link-link);
}

.oa-color-link:visited {
    color: var(--oa-link-visited);
}

.oa-color-link:hover {
    color: var(--oa-link-hover);
}

.oa-color-link:active {
    color: var(--oa-link-active);
}

.oa-color-header {
    color: var(--oa-header);
}

.oa-color-text {
    color: var(--oa-text);
}

.oa-color-quote {
    color: var(--oa-quote);
}

.oa-color-subtle {
    color: var(--oa-sublte);
}

.oa-container-headername {
    background-color: var(--oa-containerheader-bg);
    color: var(--oa-containerheader-text);    
    width: fit-content;
}

.oa-container-header {
    display: flex;
    flex-flow: row nowrap;
}

.oa-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: var(--oa-strength-3);
}

.oa-tag-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: var(--oa-strength-2);
}

.oa-tag-item {
    background-color: var(--oa-tag-bg);
    color: var(--oa-tag-text);   
    display: inline-block;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

.oa-tag-item:link {
    color: var(--oa-tag-text);
}

.oa-tag-item:visited {
    color: var(--oa-tag-text);
}

.oa-tag-item:hover {
    color: var(--oa-tag-text);
}

.oa-tag-item:active {
    color: var(--oa-tag-text);
}

.oa-style-bold {
    font-weight: var(--oa-fontweight-bold);
}

.oa-style-thin {
    font-weight: var(--oa-fontweight-thin);
}

.oa-style-italic {
    font-style: italic;
}

.oa-style-underline {
    text-decoration: underline;
}

.oa-style-strikethrough {
    text-decoration: line-through;
}

.oa-style-lowercase {
    text-transform: lowercase;
}

.oa-style-uppercase {
    text-transform: uppercase;
}

.oa-style-monospace {
    font-family: 'Cascadia Code','Cascadia Mono',Menlo,Monaco,Consolas,'Liberation Mono','Courier New',monospace !important;
}

.oa-style-keepwhitespace {
    white-space: pre;
}

.oa-style-none {
    text-decoration: none;
}

.oa-list-style-none {
    list-style: none;
}

.oa-list-style-circle {
    list-style: disc;
}

.oa-list-style-opencircle {
    list-style: circle;
}

.oa-list-style-square {
    list-style: square;
}

.oa-list-style-disclosureopen {
    list-style: disclosure-open;
}

.oa-list-style-disclosureclosed {
    list-style: disclosure-closed;
}

.oa-list-style-numeric {
    list-style: decimal;
}

.oa-list-style-loweralpha {
    list-style: lower-alpha;
}

.oa-list-style-upperalpha {
    list-style: upper-alpha;
}

.oa-list-style-upperroman {
    list-style: upper-roman;
}

.oa-text-left {
    text-align: start;
}

.oa-text-right {
    text-align: end;
}

.oa-text-center {
    text-align: center;
}

.oa-block-left {
    display: block;
    margin-right: auto;
}

.oa-block-right {
    display: block;
    margin-left: auto;
}

.oa-block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.oa-compact-mode {
    max-height: var(--oa-compactmode-maxheight);
    cursor: pointer;
    user-select: none;
    display: block;
    overflow: hidden;
}

.oa-compact-mode:hover {
    color: inherit;
}

.oa-margin-top-1, .oa-margin-y-1, .oa-margin-1 {
    margin-top: var(--oa-strength-1);
}

.oa-margin-top-2, .oa-margin-y-2, .oa-margin-2 {
    margin-top: var(--oa-strength-2);
}

.oa-margin-top-3, .oa-margin-y-3, .oa-margin-3 {
    margin-top: var(--oa-strength-3);
}

.oa-margin-top-4, .oa-margin-y-4, .oa-margin-4 {
    margin-top: var(--oa-strength-4);
}

.oa-margin-top-5, .oa-margin-y-5, .oa-margin-5 {
    margin-top: var(--oa-strength-5);
}

.oa-margin-top-auto, .oa-margin-y-auto, .oa-margin-auto {
    margin-top: auto;
}

.oa-margin-right-1, .oa-margin-x-1, .oa-margin-1 {
    margin-right: var(--oa-strength-1);
}

.oa-margin-right-2, .oa-margin-x-2, .oa-margin-2 {
    margin-right: var(--oa-strength-2);
}

.oa-margin-right-3, .oa-margin-x-3, .oa-margin-3 {
    margin-right: var(--oa-strength-3);
}

.oa-margin-right-4, .oa-margin-x-4, .oa-margin-4 {
    margin-right: var(--oa-strength-4);
}

.oa-margin-right-5, .oa-margin-x-5, .oa-margin-5 {
    margin-right: var(--oa-strength-5);
}

.oa-margin-right-auto, .oa-margin-x-auto, .oa-margin-auto {
    margin-right: auto;
}

.oa-margin-bottom-1, .oa-margin-y-1, .oa-margin-1 {
    margin-bottom: var(--oa-strength-1);
}

.oa-margin-bottom-2, .oa-margin-y-2, .oa-margin-2 {
    margin-bottom: var(--oa-strength-2);
}

.oa-margin-bottom-3, .oa-margin-y-3, .oa-margin-3 {
    margin-bottom: var(--oa-strength-3);
}

.oa-margin-bottom-4, .oa-margin-y-4, .oa-margin-4 {
    margin-bottom: var(--oa-strength-4);
}

.oa-margin-bottom-5, .oa-margin-y-5, .oa-margin-5 {
    margin-bottom: var(--oa-strength-5);
}

.oa-margin-bottom-auto, .oa-margin-y-auto, .oa-margin-auto {
    margin-bottom: auto;
}

.oa-margin-left-1, .oa-margin-x-1, .oa-margin-1 {
    margin-left: var(--oa-strength-1);
}

.oa-margin-left-2, .oa-margin-x-2, .oa-margin-2 {
    margin-left: var(--oa-strength-2);
}

.oa-margin-left-3, .oa-margin-x-3, .oa-margin-3 {
    margin-left: var(--oa-strength-3);
}

.oa-margin-left-4, .oa-margin-x-4, .oa-margin-4 {
    margin-left: var(--oa-strength-4);
}

.oa-margin-left-5, .oa-margin-x-5, .oa-margin-5 {
    margin-left: var(--oa-strength-5);
}

.oa-margin-left-auto, .oa-margin-x-auto, .oa-margin-auto {
    margin-left: auto;
}

.oa-padding-top-1, .oa-padding-y-1, .oa-padding-1 {
    padding-top: var(--oa-strength-1);
}

.oa-padding-top-2, .oa-padding-y-2, .oa-padding-2 {
    padding-top: var(--oa-strength-2);
}

.oa-padding-top-3, .oa-padding-y-3, .oa-padding-3 {
    padding-top: var(--oa-strength-3);
}

.oa-padding-top-4, .oa-padding-y-4, .oa-padding-4 {
    padding-top: var(--oa-strength-4);
}

.oa-padding-top-5, .oa-padding-y-5, .oa-padding-5 {
    padding-top: var(--oa-strength-5);
}

.oa-padding-right-1, .oa-padding-x-1, .oa-padding-1 {
    padding-right: var(--oa-strength-1);
}

.oa-padding-right-2, .oa-padding-x-2, .oa-padding-2 {
    padding-right: var(--oa-strength-2);
}

.oa-padding-right-3, .oa-padding-x-3, .oa-padding-3 {
    padding-right: var(--oa-strength-3);
}

.oa-padding-right-4, .oa-padding-x-4, .oa-padding-4 {
    padding-right: var(--oa-strength-4);
}

.oa-padding-right-5, .oa-padding-x-5, .oa-padding-5 {
    padding-right: var(--oa-strength-5);
}

.oa-padding-bottom-1, .oa-padding-y-1, .oa-padding-1 {
    padding-bottom: var(--oa-strength-1);
}

.oa-padding-bottom-2, .oa-padding-y-2, .oa-padding-2 {
    padding-bottom: var(--oa-strength-2);
}

.oa-padding-bottom-3, .oa-padding-y-3, .oa-padding-3 {
    padding-bottom: var(--oa-strength-3);
}

.oa-padding-bottom-4, .oa-padding-y-4, .oa-padding-4 {
    padding-bottom: var(--oa-strength-4);
}

.oa-padding-bottom-5, .oa-padding-y-5, .oa-padding-5 {
    padding-bottom: var(--oa-strength-5);
}

.oa-padding-left-1, .oa-padding-x-1, .oa-padding-1 {
    padding-left: var(--oa-strength-1);
}

.oa-padding-left-2, .oa-padding-x-2, .oa-padding-2 {
    padding-left: var(--oa-strength-2);
}

.oa-padding-left-3, .oa-padding-x-3, .oa-padding-3 {
    padding-left: var(--oa-strength-3);
}

.oa-padding-left-4, .oa-padding-x-4, .oa-padding-4 {
    padding-left: var(--oa-strength-4);
}

.oa-padding-left-5, .oa-padding-x-5, .oa-padding-5 {
    padding-left: var(--oa-strength-5);
}

.oa-neg-margin-top-1, .oa-neg-margin-y-1, .oa-neg-margin-1 {
    margin-top: calc(var(--oa-strength-1) * -1);
}

.oa-neg-margin-top-2, .oa-neg-margin-y-2, .oa-neg-margin-2 {
    margin-top: calc(var(--oa-strength-2) * -1);
}

.oa-neg-margin-top-3, .oa-neg-margin-y-3, .oa-neg-margin-3 {
    margin-top: calc(var(--oa-strength-3) * -1);
}

.oa-neg-margin-top-4, .oa-neg-margin-y-4, .oa-neg-margin-4 {
    margin-top: calc(var(--oa-strength-4) * -1);
}

.oa-neg-margin-top-5, .oa-neg-margin-y-5, .oa-neg-margin-5 {
    margin-top: calc(var(--oa-strength-5) * -1);
}

.oa-neg-margin-right-1, .oa-neg-margin-x-1, .oa-neg-margin-1 {
    margin-right: calc(var(--oa-strength-1) * -1);
}

.oa-neg-margin-right-2, .oa-neg-margin-x-2, .oa-neg-margin-2 {
    margin-right: calc(var(--oa-strength-2) * -1);
}

.oa-neg-margin-right-3, .oa-neg-margin-x-3, .oa-neg-margin-3 {
    margin-right: calc(var(--oa-strength-3) * -1);
}

.oa-neg-margin-right-4, .oa-neg-margin-x-4, .oa-neg-margin-4 {
    margin-right: calc(var(--oa-strength-4) * -1);
}

.oa-neg-margin-right-5, .oa-neg-margin-x-5, .oa-neg-margin-5 {
    margin-right: calc(var(--oa-strength-5) * -1);
}

.oa-neg-margin-bottom-1, .oa-neg-margin-y-1, .oa-neg-margin-1 {
    margin-bottom: calc(var(--oa-strength-1) * -1);
}

.oa-neg-margin-bottom-2, .oa-neg-margin-y-2, .oa-neg-margin-2 {
    margin-bottom: calc(var(--oa-strength-2) * -1);
}

.oa-neg-margin-bottom-3, .oa-neg-margin-y-3, .oa-neg-margin-3 {
    margin-bottom: calc(var(--oa-strength-3) * -1);
}

.oa-neg-margin-bottom-4, .oa-neg-margin-y-4, .oa-neg-margin-4 {
    margin-bottom: calc(var(--oa-strength-4) * -1);
}

.oa-neg-margin-bottom-5, .oa-neg-margin-y-5, .oa-neg-margin-5 {
    margin-bottom: calc(var(--oa-strength-5) * -1);
}

.oa-neg-margin-left-1, .oa-neg-margin-x-1, .oa-neg-margin-1 {
    margin-left: calc(var(--oa-strength-1) * -1);
}

.oa-neg-margin-left-2, .oa-neg-margin-x-2, .oa-neg-margin-2 {
    margin-left: calc(var(--oa-strength-2) * -1);
}

.oa-neg-margin-left-3, .oa-neg-margin-x-3, .oa-neg-margin-3 {
    margin-left: calc(var(--oa-strength-3) * -1);
}

.oa-neg-margin-left-4, .oa-neg-margin-x-4, .oa-neg-margin-4 {
    margin-left: calc(var(--oa-strength-4) * -1);
}

.oa-neg-margin-left-5, .oa-neg-margin-x-5, .oa-neg-margin-5 {
    margin-left: calc(var(--oa-strength-5) * -1);
}

.oa-borderradius-topleft, .oa-borderradius {
    border-top-left-radius: var(--oa-radius);
}

.oa-borderradius-topright, .oa-borderradius {
    border-top-right-radius: var(--oa-radius);
}

.oa-borderradius-bottomleft, .oa-borderradius {
    border-bottom-left-radius: var(--oa-radius);
}

.oa-borderradius-bottomright, .oa-borderradius {
    border-bottom-right-radius: var(--oa-radius);
}

.oa-border-top, .oa-border-y, .oa-border {
    border-top: var(--oa-border);
}

.oa-border-right, .oa-border-x, .oa-border {
    border-right: var(--oa-border);
}

.oa-border-bottom, .oa-border-y, .oa-border {
    border-bottom: var(--oa-border);
}

.oa-border-left, .oa-border-x, .oa-border {
    border-left: var(--oa-border);
}