@using Blog.PostComponents.Compound
@using Blog.PostComponents.Date
@using Blog.PostComponents.Header
@using Blog.PostComponents.Paragraph

@if (Content is not null)
{
    if (CompactMode)
    {
        <Date Content="new Date.DateContent { Date = Content.PostDate, Style = Enums.Style.Bold, DisplayType = DateDisplayType.LongDate, TextPosition = Enums.PositionType.Right, BlockType = Enums.BlockType.Normal }" />
        <div class="mh-20 mb-4 p-2 border border-2 rounded overflow-hidden shadow user-select-none pointer hover" @onclick="SelectPost">  
            <Header Content="new Header.HeaderContent { Text = Content.Title, HeaderSize = HeaderSize.One, Color = Enums.BlogColor.Header }" />           
            @if (!string.IsNullOrEmpty(Content.SubTitle))
            {
                <Paragraph Content="new ParagraphContent { Style = Enums.Style.Italic, Text = Content.SubTitle }" />
            }
            <hr>
            <Compound Content="Content.Content" />
        </div>
    }
    else
    {
        <Header Content="new Header.HeaderContent { Text = Content.Title, HeaderSize = HeaderSize.One, Color = Enums.BlogColor.Header }" />
        @if (!string.IsNullOrEmpty(Content.SubTitle))
        {
            <Paragraph Content="new ParagraphContent { Style = Enums.Style.Italic, Text = Content.SubTitle }" />
        }
        <hr>
        <Compound Content="Content.Content" />
    }
    
}