@if (Content is not null)
{
    <table class="@Content.GetClasses()">
        <thead>
            <tr>
                @foreach(var column in Content.Columns.ChildContent)
                {
                    <th><CompoundItem Content="column" /></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var row in Content.ChildContent)
            {
                <tr class="@row.GetClasses()">
                    @foreach(var cell in row.ChildContent)
                    {
                        <td><CompoundItem Content="cell" /></td>
                    }                               
                </tr>
            }
        </tbody>
    </table>
}