@using Blog.Navigation
@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<div class="main-container">
    <main>
        @Body
    </main>
    <aside>
        <TagContainer />
        <ArchiveContainer />
    </aside>
</div>
