<span class="oa-margin-left-3">        
    <input id="search-bar" type="text" @bind=SearchTerm @bind:event="oninput" class="bordered no-outline roundedborder oa-padding-left-1 oa-padding-right-1" @onkeypress=KeyPress />
    <i class="bi bi-search oa-margin-left-1 hover pointer fs-5" @onclick=Search />
</span>