@import url('icons/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Exo+2');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

body {
    font-family: "Exo 2", "Open Sans", "Sans Serif Collection", "Segoe UI Variable Text", Calibri;
    color: var(--oa-inverse-main-color);
    margin: 0px;
}

[loader] {
    height: 15%;
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
}

[loader] svg {
    height: 100%;
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,.7));
}

#a-outline {
    fill: var(--oa-inverse-main-color);
}

#a-fill {
    fill: var(--oa-main-color);
}

#fill-rect {
    height: calc(100% - var(--blazor-load-percentage));
}

[loader-text]::after {
    content: var(--blazor-load-percentage-text);
    font-weight: 700;
    color: var(--oa-main-color);
    text-shadow: 3px 3px 3px rgba(0,0,0,.7);
}

[loader-text] {
    margin-top: -1.5em;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.opta-bg {
    background-color: var(--oa-main-color);
    color: var(--oa-inverse-main-color);
}

.top-60 {
    top: 60px;
}

.opta-dropdown {
    padding-top: .5em;
    transition: height 250ms ease-in-out;
}

.opta-dropdown li {
    transition: background-color 200ms ease-in-out;
}

.opta-dropdown li:hover {
    background-color: var(--oa-main-hover-color);
}

.opta-menu-item {

}

.opta-menu-item a {
    display: inline-block;
    width: 100%;
    padding: .5em;
    color: var(--oa-main-inactive-color);
    transition: color 200ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.opta-menu-item a.active {
    color: var(--oa-inverse-main-color);
}

.opta-menu-item a:hover {
    color: var(--oa-main-semi-active-color);
}



[opta-carousel-image] {
    max-height: 300px;
}

[opta-carousel-slide] {
    background-color: var(--oa-main-active-color);
    padding: 2em;
}

[opta-thumbnail-title] {
    text-align: center;
}

[opta-thumbnail-image] img {
    max-height: 75px;
}

[opta-thumbnail-image], [opta-gallery-image] {
    background-color: var(--oa-main-active-color);
    padding: 2em;
}

.carousel-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-left: 15%;
    margin-right: 15%;
    transform: translateY(-50%);
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(255,255,255,.5);
}


[auto-grow]::after {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
}

:root {
    --oa-code-keyword: #569cd6;
    --oa-code-controlkeyword: #d8a0df;
    --oa-code-string: #ce9178;
    --oa-code-method: #dcdcaa;
    --oa-code-comment: #63b456;
    --oa-code-attribute: #9cdcfe;
    --oa-code-tagdelimiter: #808080;
    --oa-code-directive: #a699e6;
    --oa-code-component: #0096aa;
    --oa-code-background: #1e1e1e;
    --oa-code-headerbackground: #3f3f3f;
    --oa-code-color: #dcdcdc;
    --oa-code-selected: rgba(51, 153, 255, .5);
    --oa-code-class: #4ec9b0;
    --oa-code-struct: #86c691;
    --oa-code-enum: #b8d7a3;
    --oa-code-interface: #b8d7a3;
    --oa-main-color: #2a125e;
    --oa-inverse-main-color: #f5f5f5;
    --oa-main-hover-color: #3e2672;
    --oa-main-active-color: #5c4490;
    --oa-main-inactive-color: #f5f5f580;
    --oa-main-semi-active-color: #f5f5f5cc;
}