@using Blog.PostComponents.Compound
@if (Content is not null)
{
    <ul class="@Content.GetClasses()" style="@Content.GetStyle()">
        @foreach(var item in Content.ChildContent)
        {
            <li class="@Content.GetItemClasses()">
                <CompoundItem Content="item" />
            </li>
        }
    </ul>
}

