@import url('icons/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Exo+2');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

.hover {
    transition: opacity 200ms;
}

.hover:hover {
    opacity: 0.5;
}

body {
    font-family: "Exo 2", "Open Sans", "Sans Serif Collection", "Segoe UI Variable Text", Calibri
}