@if (Month is not null)
{
    <li @onclick="SwitchOpenState" class="@GetClasses()">@DateDisplayType.YearMonth.ToDateFormat(Month.Value)</li>
    <ListItem Content="GetListItem()" />
    @if (_isOpen)
    {
        @foreach (var post in PostService.GetPostsForMonth(Month.Value.Year, Month.Value.Month))
        {
            <li class="@GetPostItemClasses()">
                <Link Content="GetPostContent(post)" />
            </li>
        }
    }
}